body,html{
 margin: 0;
 padding: 0;
 height: 100%;
 display:flex ;
 justify-content: center;
 align-items: center;

}
label, input{
    display:block;
}
.formulario{
width: 500px;
background-color:blue(255,255,255,0.322);
padding: 10px 15px;

}